{% extends "mainappname/base.html" %}  <!-- Change to app name -->
{% load static %}

{% block title %}View{% endblock %}

{% block content %}

<div class="row row-cols-1 row-cols-md-2 g-4">
{% for organisation in object_list %}
<div class="col">
  <div class="card h-100">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">{{ organisation.name }}</h5>
      <p class="card-text">{{ organisation.city }}, {{ organisation.country }}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">No. of reports:<span>{{ organisation.num_reports }}</span></li>
      </ul>
    </div>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}