{% extends "beepboop9000/base.html" %}
{% load static %}

{% block title %}View{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-sm-12 text-center mb-2">
      <h1>View organisations</h1>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <form class="d-flex" action="{% url 'view' %}">
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
  {% for organisation in orgs %}
  <div class="col">
    <div class="card h-100">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h4 class="card-title">{{ organisation.name }}</h4>
        <h6 class="card-text text-muted">{{ organisation.get_type_display }}</h6>
        <p class="card-text">{{ organisation.get_city_display }}, {{ organisation.get_country_display }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span style="float: left;">No. incidents reported:</span>
          <span style="float: right;">{{ organisation.report_count }}</span>
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}
  </div>
</div>

{% endblock %}
