{% extends "beepboop9000/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Register my organisation{% endblock %}

{% block content %}
<div class="container-fluid container-max">
  <form method="POST" class="row needs-validation" action="/register_submit/" novalidate>
    {% csrf_token %}

    <div class="row justify-content-center">
      <!-- Name of organisation -->
      <div class="col-sm-12 mb-3">
          Name:
          {% comment %} {{ form.name|as_crispy_field }} {% endcomment %}
          <input type="text" name="name" value="">
          <input type="text" name="type" value="">
      </div>
    </div>

    <div class="row justify-content-center">
      <!-- City -->
      <div class="col-sm-6 mb-3">
        {% comment %} {{ form.city|as_crispy_field }} {% endcomment %}
        City:
        <input type="text" name="city" value="">
      </div>
      <!-- Country -->
      <div class="col-sm-6 mb-3">
        {% comment %} {{ form.country|as_crispy_field }} {% endcomment %}
        Country:
        <input type="text" name="country" value="">
      </div>
    </div>

    <div class="row justify-content-center">
      <!-- Details of the accused -->
      <div class="col-sm-12 mb-3">
          {% comment %} {{ form.type|as_crispy_field }} {% endcomment %}
          Description of accused:
          <input type="text" name="accused_desc" value="">
      </div>
    </div>

    <div class="row justify-content-center">
      <!-- Description of the incident -->
      <div class="col-sm-12 mb-3">
          Email:
          <input type="text" name="email" value="">
          {% comment %} {{ form.emails|as_crispy_field }} {% endcomment %}
      </div>
    </div>

    <div class="row justify-content-center">
      <!-- Mandatory feild note -->
      <div class="col-sm-12">
        <p class="mandatory-p"><span class="mandatory">*</span> indicates mandatory field</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-12">
        <div class="form-check">
          <input id="permission1" type="checkbox" class="form-check-input" required>
          <label class="form-check-label" for="permission1">I consent to receiving emails from APPNAME every time an incident is reported within my organisation</label>
          <div class="invalid-feedback">You must acknowledge this</div>
        </div>
      </div>
    </div>

    <!-- <div class="row justify-content-center">
      <div class="col-sm-12">
        <div class="form-check">
          <input id="permission2" type="checkbox" class="form-check-input" required>
          <label class="form-check-label" for="permission2">By submitting my story, I give permission for it to be
            published online after moderation.</label>
          <div class="invalid-feedback">You must give permission</div>
        </div>
      </div>
    </div> -->

    <!-- Submit -->
    <div class="row text-center">
      <div class="col-sm-12 mt-3 mb-3">
        <button class="btn" type="submit" name="submit">Register my organisation</button>
      </div>
    </div>
  </form>
</div>

<!-- Bootstrap Form Validation -->
<script>
// Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation');
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function(form) {
        form.addEventListener('submit', function(event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      })
</script>

{% endblock %}
