{% extends "beepboop9000/base.html" %} 
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container-fluid " style="max-width: 768px">
  <div class="row justify-content-center">
    <div class="col-sm-12 text-center">
      <h3>We want to improve lives. Here's how.</h3>
      <p>
        We want to make it easy for people to anonymously report incidents 
        of sexual harassment/assault. We want to make it easy for small 
        organisations that care about the safety of their members to hear 
        anonymous reports from within.
      </p>
      <p>
        This app addresses the unmet need for better tools, to make difficult 
        things easier, to make the spaces we exist in, safer. We also hope 
        that this will encourage transparency, and a willingness to tackle 
        this problem seriously.
      </p>
    </div>
  </div>
</div>

{% endblock %}